<head>
    <meta charset = "UTF-8" />
    <title>Jooj da vida</title>
    <link rel="stylesheet" href="style.css">    
</head>
<body>
    <div id="gridContainer">
        <div id="regras">
            <div class="alinhar">
                REGRAS
                <ul id="lista-regras">
                    <li>
                        Qualquer célula viva com menos de dois 
                        vizinhos vivos morre, como se causada 
                        por depressão.
                    </li>
                    <li>
                        Qualquer célula viva com dois ou três 
                        vizinhos vivos vive para a próxima geração.
                    </li>
                    <li>
                        Qualquer célula viva com mais de três vizinhos 
                        vivos morre, como se estivesse superlotada.
                    </li>
                    <li>
                        Qualquer célula morta com exatamente três vizinhos
                        vivos se torna uma célula viva, como se por reprodução.
                    </li>
                </ul>
                <div>
                    <button id="btn-ok" class="btn-ok">
                        OK!!?!??!?!?!?!?!?!?!
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button id="start">
            <span>Iniciar</span>
        </button>
        <button id="clear">
            <span>Limpar</span>
        </button>
        <button id="random">
            <span>Aleatorio</span>
        </button>
    </div>
    <script src="game.js"></script>
</body>