body {
    padding: 20px;
    background-color: #444;
}

#gridContainer {
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
}

table {
    width: 100%;
    margin: auto;
    background-color: #C5D6C6;
    border-spacing: 0;
}

td {
    border: 1px solid #F1F5DA;
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

span {
    color: #222;
}

*{
    margin: auto;
}

#lista-regras{
    max-width: 50%;
    margin: auto;
    text-align: left;
}

#regras{
    z-index: 100;
    position: absolute;
    background-color: #f6f6f6;
    width: 100%;
    height: 100%;
}

.btn-ok{
    width: 120px;
    height: 40px;
    margin-top: 50px;
    padding: 5px;
    border: 0px;
    border-radius: 0px;
    color: black;
}

.alinhar{
    padding-top: 100px;
    height: 100%;
    align-items: center;
    vertical-align: baseline;
    text-align: center;
    margin: auto;
}

#start,
#clear,
#random {
    margin: auto;
    padding: .75em;
    /* border-radius: 5px; */
    border: none;    
    background: linear-gradient(
        to bottom right,
        #ffffff, #000000
    );
}

td.dead {
    background-color: transparent;
    /* animation: pisca_pisca 0.3s alternate-reverse infinite; */
}

td.live {
    background-color: black;
    border-radius: 0px;
    /* animation: pisca_pisca 0.3s linear infinite; */
}

@keyframes pisca_pisca{
    0%{background-color:#D60025;}
    10%{background-color:#D60025;}
    15%{background-color:lightgreen;}
    25%{background-color:lightgreen;}
    35%{background-color:white;}
    45%{background-color:white;}
    55%{background-color:#D60025;}
    65%{background-color:#D60025;}
    75%{background-color:lightgreen;}
    85%{background-color:lightgreen;}
    95%{background-color:#D60025;}
    100%{background-color:#D60025;}
}